# Credit Loan Status Project Work

Problem Overview:
You are tasked with developing a machine learning model to predict the loan status of applicants based on various features. The goal is to classify whether a loan application will be 'Fully Paid' or 'Charged Off', given certain characteristics of the applicant and the loan.

Dataset:
You are provided with a dataset containing information about past loan applicants, including features such as applicant's age, income, employment status, credit score, loan amount, loan term, etc. Each entry in the dataset also includes the loan status, which can be either 'Fully Paid' or 'Charged Off'.

Objective:
Your objective is to build a classification model that can accurately predict the loan status of future applicants based on their attributes. The model should be trained on historical data to learn patterns and relationships between the features and the loan status. Once trained, the model should be capable of making predictions on new, unseen data.

Key Tasks:
1. Data Exploration and Preprocessing:
   - Perform exploratory data analysis to understand the distribution of features, identify missing values, and detect outliers.
   - Preprocess the data by handling missing values, encoding categorical variables, and scaling numerical features if necessary.

2. Feature Selection and Engineering:
   - Select relevant features that are likely to have predictive power in determining loan status.
   - Create new features if needed, such as debt-to-income ratio, loan-to-income ratio, etc., that could improve the model's performance.

3. Model Selection and Training:
   - Choose appropriate classification algorithms (e.g., logistic regression, decision trees, random forests,Knn etc) for the task.
   - Train multiple models and tune hyperparameters to optimize performance metrics such as accuracy, confusion matrix.

Success Criteria:
The success of the project will be measured based on the model's ability to accurately predict loan status for new applicants, as demonstrated by high performance metrics on the test dataset.

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

# Data Collection and Processing

Dataset:
You are provided with a dataset containing information about past loan applicants, including features such as
applicant's age, income, employment status, credit score, loan amount, loan term, etc. 
Each entry in the dataset also includes the loan status, which can be either 'Fully Paid' or 'Charged Off'.

In [2]:
TD = pd.read_csv("E:/Project Files/loan_status_project/credit/credit_train.csv")
TD

,Loan ID,Customer ID,Loan Status,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,14dd8831-6af5-400b-83ec-68e61888a048,981165ec-3274-42f5-a3b4-d104041a9ca9,Fully Paid,445412.0,Short Term,709.0,1167493.0,8 years,Home Mortgage,Home Improvements,5214.74,17.2,NaN,6.0,1.0,228190.0,416746.0,1.0,0.0
1,4771cc26-131a-45db-b5aa-537ea4ba5342,2de017a3-2e01-49cb-a581-08169e83be29,Fully Paid,262328.0,Short Term,NaN,NaN,10+ years,Home Mortgage,Debt Consolidation,33295.98,21.1,8.0,35.0,0.0,229976.0,850784.0,0.0,0.0
2,4eed4e6a-aa2f-4c91-8651-ce984ee8fb26,5efb2b2b-bf11-4dfd-a572-3761a2694725,Fully Paid,99999999.0,Short Term,741.0,2231892.0,8 years,Own Home,Debt Consolidation,29200.53,14.9,29.0,18.0,1.0,297996.0,750090.0,0.0,0.0
3,77598f7b-32e7-4e3b-a6e5-06ba0d98fe8a,e777faab-98ae-45af-9a86-7ce5b33b1011,Fully Paid,347666.0,Long Term,721.0,806949.0,3 years,Own Home,Debt Consolidation,8741.90,12.0,NaN,9.0,0.0,256329.0,386958.0,0.0,0.0
4,d4062e70-befa-4995-8643-a0de73938182,81536ad9-5ccf-4eb8-befb-47a4d608658e,Fully Paid,176220.0,Short Term,NaN,NaN,5 years,Rent,Debt Consolidation,20639.70,6.1,NaN,15.0,0.0,253460.0,427174.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100509,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100510,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100511,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100512,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100513,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
TD.shape

(100514, 19)

In [3]:
TD.head(10)

,Loan ID,Customer ID,Loan Status,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,14dd8831-6af5-400b-83ec-68e61888a048,981165ec-3274-42f5-a3b4-d104041a9ca9,Fully Paid,445412.0,Short Term,709.0,1167493.0,8 years,Home Mortgage,Home Improvements,5214.74,17.2,NaN,6.0,1.0,228190.0,416746.0,1.0,0.0
1,4771cc26-131a-45db-b5aa-537ea4ba5342,2de017a3-2e01-49cb-a581-08169e83be29,Fully Paid,262328.0,Short Term,NaN,NaN,10+ years,Home Mortgage,Debt Consolidation,33295.98,21.1,8.0,35.0,0.0,229976.0,850784.0,0.0,0.0
2,4eed4e6a-aa2f-4c91-8651-ce984ee8fb26,5efb2b2b-bf11-4dfd-a572-3761a2694725,Fully Paid,99999999.0,Short Term,741.0,2231892.0,8 years,Own Home,Debt Consolidation,29200.53,14.9,29.0,18.0,1.0,297996.0,750090.0,0.0,0.0
3,77598f7b-32e7-4e3b-a6e5-06ba0d98fe8a,e777faab-98ae-45af-9a86-7ce5b33b1011,Fully Paid,347666.0,Long Term,721.0,806949.0,3 years,Own Home,Debt Consolidation,8741.90,12.0,NaN,9.0,0.0,256329.0,386958.0,0.0,0.0
4,d4062e70-befa-4995-8643-a0de73938182,81536ad9-5ccf-4eb8-befb-47a4d608658e,Fully Paid,176220.0,Short Term,NaN,NaN,5 years,Rent,Debt Consolidation,20639.70,6.1,NaN,15.0,0.0,253460.0,427174.0,0.0,0.0
5,89d8cb0c-e5c2-4f54-b056-48a645c543dd,4ffe99d3-7f2a-44db-afc1-40943f1f9750,Charged Off,206602.0,Short Term,7290.0,896857.0,10+ years,Home Mortgage,Debt Consolidation,16367.74,17.3,NaN,6.0,0.0,215308.0,272448.0,0.0,0.0
6,273581de-85d8-4332-81a5-19b04ce68666,90a75dde-34d5-419c-90dc-1e58b04b3e35,Fully Paid,217646.0,Short Term,730.0,1184194.0,< 1 year,Home Mortgage,Debt Consolidation,10855.08,19.6,10.0,13.0,1.0,122170.0,272052.0,1.0,0.0
7,db0dc6e1-77ee-4826-acca-772f9039e1c7,018973c9-e316-4956-b363-67e134fb0931,Charged Off,648714.0,Long Term,NaN,NaN,< 1 year,Home Mortgage,Buy House,14806.13,8.2,8.0,15.0,0.0,193306.0,864204.0,0.0,0.0
8,8af915d9-9e91-44a0-b5a2-564a45c12089,af534dea-d27e-4fd6-9de8-efaa52a78ec0,Fully Paid,548746.0,Short Term,678.0,2559110.0,2 years,Rent,Debt Consolidation,18660.28,22.6,33.0,4.0,0.0,437171.0,555038.0,0.0,0.0
9,0b1c4e3d-bd97-45ce-9622-22732fcdc9a0,235c4a43-dadf-483d-aa44-9d6d77ae4583,Fully Paid,215952.0,Short Term,739.0,1454735.0,< 1 year,Rent,Debt Consolidation,39277.75,13.9,NaN,20.0,0.0,669560.0,1021460.0,0.0,0.0

In [6]:
TD.describe()

,Current Loan Amount,Credit Score,Annual Income,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
count,1.000000e+05,80846.000000,8.084600e+04,100000.000000,100000.000000,46859.000000,100000.00000,100000.000000,1.000000e+05,9.999800e+04,99796.000000,99990.000000
mean,1.176045e+07,1076.456089,1.378277e+06,18472.412336,18.199141,34.901321,11.12853,0.168310,2.946374e+05,7.607984e+05,0.117740,0.029313
std,3.178394e+07,1475.403791,1.081360e+06,12174.992609,7.015324,21.997829,5.00987,0.482705,3.761709e+05,8.384503e+06,0.351424,0.258182
min,1.080200e+04,585.000000,7.662700e+04,0.000000,3.600000,0.000000,0.00000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000
25%,1.796520e+05,705.000000,8.488440e+05,10214.162500,13.500000,16.000000,8.00000,0.000000,1.126700e+05,2.734380e+05,0.000000,0.000000
50%,3.122460e+05,724.000000,1.174162e+06,16220.300000,16.900000,32.000000,10.00000,0.000000,2.098170e+05,4.678740e+05,0.000000,0.000000
75%,5.249420e+05,741.000000,1.650663e+06,24012.057500,21.700000,51.000000,14.00000,0.000000,3.679588e+05,7.829580e+05,0.000000,0.000000
max,1.000000e+08,7510.000000,1.655574e+08,435843.280000,70.500000,176.000000,76.00000,15.000000,3.287897e+07,1.539738e+09,7.000000,15.000000

In [5]:
TD.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100514 entries, 0 to 100513
Data columns (total 19 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Loan ID                       100000 non-null  object
 1   Customer ID                   100000 non-null  object
 2   Loan Status                   100000 non-null  object
 3   Current Loan Amount           100000 non-null  float64
 4   Term                          100000 non-null  object
 5   Credit Score                  80846 non-null   float64
 6   Annual Income                 80846 non-null   float64
 7   Years in current job          95778 non-null   object
 8   Home Ownership                100000 non-null  object
 9   Purpose                       100000 non-null  object
 10  Monthly Debt                  100000 non-null  float64
 11  Years of Credit History       100000 non-null  float64
 12  Months since last delinquent  46859 non-null   float64
 13  Number of Open Accounts       100000 non-null  float64
 14  Number of Credit Problems     100000 non-null  float64
 15  Current Credit Balance        100000 non-null  float64
 16  Maximum Open Credit           99998 non-null   float64
 17  Bankruptcies                  99796 non-null   float64
 18  Tax Liens                     99990 non-null   float64
dtypes: float64(12), object(7)
memory usage: 14.6+ MB

Key Tasks:
1. Data Exploration and Preprocessing:
   - Perform exploratory data analysis to understand the distribution of features.
   - Identify missing values.
   - Detect outliers.
   - Preprocess the data by handling missing values.
   - Encoding categorical variables.
   - scaling numerical features if necessary.

In [7]:
for i in TD.columns:
    if TD[i].dtypes==object:
        TD[i] = TD[i].fillna(TD[i].mode()[0])
    else:
        TD[i] = TD[i].fillna(TD[i].mean())

In [8]:
TD.isna().sum()

Loan ID                         0
Customer ID                     0
Loan Status                     0
Current Loan Amount             0
Term                            0
Credit Score                    0
Annual Income                   0
Years in current job            0
Home Ownership                  0
Purpose                         0
Monthly Debt                    0
Years of Credit History         0
Months since last delinquent    0
Number of Open Accounts         0
Number of Credit Problems       0
Current Credit Balance          0
Maximum Open Credit             0
Bankruptcies                    0
Tax Liens                       0
dtype: int64

In [9]:
X = TD.drop(labels=["Loan Status"],axis=1)
Y = TD[["Loan Status"]]

In [10]:
X

,Loan ID,Customer ID,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,14dd8831-6af5-400b-83ec-68e61888a048,981165ec-3274-42f5-a3b4-d104041a9ca9,4.454120e+05,Short Term,709.000000,1.167493e+06,8 years,Home Mortgage,Home Improvements,5214.740000,17.200000,34.901321,6.00000,1.00000,228190.00000,416746.000000,1.00000,0.000000
1,4771cc26-131a-45db-b5aa-537ea4ba5342,2de017a3-2e01-49cb-a581-08169e83be29,2.623280e+05,Short Term,1076.456089,1.378277e+06,10+ years,Home Mortgage,Debt Consolidation,33295.980000,21.100000,8.000000,35.00000,0.00000,229976.00000,850784.000000,0.00000,0.000000
2,4eed4e6a-aa2f-4c91-8651-ce984ee8fb26,5efb2b2b-bf11-4dfd-a572-3761a2694725,1.000000e+08,Short Term,741.000000,2.231892e+06,8 years,Own Home,Debt Consolidation,29200.530000,14.900000,29.000000,18.00000,1.00000,297996.00000,750090.000000,0.00000,0.000000
3,77598f7b-32e7-4e3b-a6e5-06ba0d98fe8a,e777faab-98ae-45af-9a86-7ce5b33b1011,3.476660e+05,Long Term,721.000000,8.069490e+05,3 years,Own Home,Debt Consolidation,8741.900000,12.000000,34.901321,9.00000,0.00000,256329.00000,386958.000000,0.00000,0.000000
4,d4062e70-befa-4995-8643-a0de73938182,81536ad9-5ccf-4eb8-befb-47a4d608658e,1.762200e+05,Short Term,1076.456089,1.378277e+06,5 years,Rent,Debt Consolidation,20639.700000,6.100000,34.901321,15.00000,0.00000,253460.00000,427174.000000,0.00000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100509,00069ff1-a877-4d35-81be-7cd359b99956,000877d4-55ed-4126-abda-968f61da7b7f,1.176045e+07,Short Term,1076.456089,1.378277e+06,10+ years,Home Mortgage,Debt Consolidation,18472.412336,18.199141,34.901321,11.12853,0.16831,294637.38235,760798.381748,0.11774,0.029313
100510,00069ff1-a877-4d35-81be-7cd359b99956,000877d4-55ed-4126-abda-968f61da7b7f,1.176045e+07,Short Term,1076.456089,1.378277e+06,10+ years,Home Mortgage,Debt Consolidation,18472.412336,18.199141,34.901321,11.12853,0.16831,294637.38235,760798.381748,0.11774,0.029313
100511,00069ff1-a877-4d35-81be-7cd359b99956,000877d4-55ed-4126-abda-968f61da7b7f,1.176045e+07,Short Term,1076.456089,1.378277e+06,10+ years,Home Mortgage,Debt Consolidation,18472.412336,18.199141,34.901321,11.12853,0.16831,294637.38235,760798.381748,0.11774,0.029313
100512,00069ff1-a877-4d35-81be-7cd359b99956,000877d4-55ed-4126-abda-968f61da7b7f,1.176045e+07,Short Term,1076.456089,1.378277e+06,10+ years,Home Mortgage,Debt Consolidation,18472.412336,18.199141,34.901321,11.12853,0.16831,294637.38235,760798.381748,0.11774,0.029313
100513,00069ff1-a877-4d35-81be-7cd359b99956,000877d4-55ed-4126-abda-968f61da7b7f,1.176045e+07,Short Term,1076.456089,1.378277e+06,10+ years,Home Mortgage,Debt Consolidation,18472.412336,18.199141,34.901321,11.12853,0.16831,294637.38235,760798.381748,0.11774,0.029313

In [11]:
Y

       Loan Status
0       Fully Paid
1       Fully Paid
2       Fully Paid
3       Fully Paid
4       Fully Paid
...            ...
100509  Fully Paid
100510  Fully Paid
100511  Fully Paid
100512  Fully Paid
100513  Fully Paid

[100514 rows x 1 columns]

In [12]:
Y.value_counts()

Loan Status
Fully Paid     77875
Charged Off    22639
Name: count, dtype: int64

In [13]:
Y=Y.replace(['Fully Paid','Charged Off'],[0,1])
Y

        Loan Status
0                 0
1                 0
2                 0
3                 0
4                 0
...             ...
100509            0
100510            0
100511            0
100512            0
100513            0

[100514 rows x 1 columns]

In [14]:
TD.shape

(100514, 19)

In [19]:
cat=[]
con=[]
for i in X.columns:
    if X[i].dtypes==object:
        cat.append(i)
    else:
        con.append(i)

In [20]:
cat

['Loan ID',
 'Customer ID',
 'Term',
 'Years in current job',
 'Home Ownership',
 'Purpose']

In [21]:
con

['Current Loan Amount',
 'Credit Score',
 'Annual Income',
 'Monthly Debt',
 'Years of Credit History',
 'Months since last delinquent',
 'Number of Open Accounts',
 'Number of Credit Problems',
 'Current Credit Balance',
 'Maximum Open Credit',
 'Bankruptcies',
 'Tax Liens']

In [22]:
Xcon=X[con]

In [23]:
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()
Xcon=pd.DataFrame(ss.fit_transform(Xcon),columns=con)

In [24]:
Xcon

,Current Loan Amount,Credit Score,Annual Income,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,-0.356914,-0.277703,-0.217347,-1.091727e+00,-1.427889e-01,-4.730770e-16,-1.026318,1.727409e+00,-0.177096,-0.041140,2.519557,-1.138334e-01
1,-0.362689,0.000000,0.000000,1.220673e+00,4.145666e-01,-1.791081e+00,4.777142,-3.495776e-01,-0.172336,0.010760,-0.336242,-1.138334e-01
2,2.783370,-0.253520,0.880194,8.834262e-01,-4.714858e-01,-3.929080e-01,1.375114,1.727409e+00,0.008951,-0.001280,-0.336242,-1.138334e-01
3,-0.359997,-0.268634,-0.589117,-8.012766e-01,-8.859297e-01,-4.730770e-16,-0.425960,-3.495776e-01,-0.102100,-0.044702,-0.336242,-1.138334e-01
4,-0.365405,0.000000,0.000000,1.784692e-01,-1.729109e+00,-4.730770e-16,0.774756,-3.495776e-01,-0.109746,-0.039893,-0.336242,-1.138334e-01
...,...,...,...,...,...,...,...,...,...,...,...,...
100509,0.000000,0.000000,0.000000,2.995759e-16,5.077243e-16,-4.730770e-16,0.000000,-5.764796e-17,0.000000,0.000000,0.000000,1.347320e-17
100510,0.000000,0.000000,0.000000,2.995759e-16,5.077243e-16,-4.730770e-16,0.000000,-5.764796e-17,0.000000,0.000000,0.000000,1.347320e-17
100511,0.000000,0.000000,0.000000,2.995759e-16,5.077243e-16,-4.730770e-16,0.000000,-5.764796e-17,0.000000,0.000000,0.000000,1.347320e-17
100512,0.000000,0.000000,0.000000,2.995759e-16,5.077243e-16,-4.730770e-16,0.000000,-5.764796e-17,0.000000,0.000000,0.000000,1.347320e-17
100513,0.000000,0.000000,0.000000,2.995759e-16,5.077243e-16,-4.730770e-16,0.000000,-5.764796e-17,0.000000,0.000000,0.000000,1.347320e-17

In [25]:
Xcat=X[cat]
Xcon=X[con]

In [26]:
Xcon=pd.DataFrame(ss.fit_transform(Xcon),columns=con)

In [27]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [28]:
for i in Xcat.columns:
    Xcat[i]=le.fit_transform(Xcat[i])

C:\Users\DELL\AppData\Local\Temp\ipykernel_10748\188807692.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Xcat[i]=le.fit_transform(Xcat[i])
C:\Users\DELL\AppData\Local\Temp\ipykernel_10748\188807692.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Xcat[i]=le.fit_transform(Xcat[i])
C:\Users\DELL\AppData\Local\Temp\ipykernel_10748\188807692.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Xcat[i]=le.fit_transform(Xcat[i])
C:\Users\DELL\AppData\Local\Temp\ipykernel_10748\188807692.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Xcat[i]=le.fit_transform(Xcat[i])
C:\Users\DELL\AppData\Local\Temp\ipykernel_10748\188807692.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Xcat[i]=le.fit_transform(Xcat[i])
C:\Users\DELL\AppData\Local\Temp\ipykernel_10748\188807692.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Xcat[i]=le.fit_transform(Xcat[i])

In [29]:
Xcat

,Loan ID,Customer ID,Term,Years in current job,Home Ownership,Purpose
0,6697,48724,1,8,1,5
1,23041,14688,1,1,1,3
2,25441,30541,1,8,2,3
3,38341,74173,0,3,2,3
4,68058,41470,1,5,3,3
...,...,...,...,...,...,...
100509,7,8,1,1,1,3
100510,7,8,1,1,1,3
100511,7,8,1,1,1,3
100512,7,8,1,1,1,3
100513,7,8,1,1,1,3

In [30]:
Xcon

,Current Loan Amount,Credit Score,Annual Income,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,-0.356914,-0.277703,-0.217347,-1.091727e+00,-1.427889e-01,-4.730770e-16,-1.026318,1.727409e+00,-0.177096,-0.041140,2.519557,-1.138334e-01
1,-0.362689,0.000000,0.000000,1.220673e+00,4.145666e-01,-1.791081e+00,4.777142,-3.495776e-01,-0.172336,0.010760,-0.336242,-1.138334e-01
2,2.783370,-0.253520,0.880194,8.834262e-01,-4.714858e-01,-3.929080e-01,1.375114,1.727409e+00,0.008951,-0.001280,-0.336242,-1.138334e-01
3,-0.359997,-0.268634,-0.589117,-8.012766e-01,-8.859297e-01,-4.730770e-16,-0.425960,-3.495776e-01,-0.102100,-0.044702,-0.336242,-1.138334e-01
4,-0.365405,0.000000,0.000000,1.784692e-01,-1.729109e+00,-4.730770e-16,0.774756,-3.495776e-01,-0.109746,-0.039893,-0.336242,-1.138334e-01
...,...,...,...,...,...,...,...,...,...,...,...,...
100509,0.000000,0.000000,0.000000,2.995759e-16,5.077243e-16,-4.730770e-16,0.000000,-5.764796e-17,0.000000,0.000000,0.000000,1.347320e-17
100510,0.000000,0.000000,0.000000,2.995759e-16,5.077243e-16,-4.730770e-16,0.000000,-5.764796e-17,0.000000,0.000000,0.000000,1.347320e-17
100511,0.000000,0.000000,0.000000,2.995759e-16,5.077243e-16,-4.730770e-16,0.000000,-5.764796e-17,0.000000,0.000000,0.000000,1.347320e-17
100512,0.000000,0.000000,0.000000,2.995759e-16,5.077243e-16,-4.730770e-16,0.000000,-5.764796e-17,0.000000,0.000000,0.000000,1.347320e-17
100513,0.000000,0.000000,0.000000,2.995759e-16,5.077243e-16,-4.730770e-16,0.000000,-5.764796e-17,0.000000,0.000000,0.000000,1.347320e-17

In [31]:
Xnew = Xcon.join(Xcat)
Xnew

,Current Loan Amount,Credit Score,Annual Income,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens,Loan ID,Customer ID,Term,Years in current job,Home Ownership,Purpose
0,-0.356914,-0.277703,-0.217347,-1.091727e+00,-1.427889e-01,-4.730770e-16,-1.026318,1.727409e+00,-0.177096,-0.041140,2.519557,-1.138334e-01,6697,48724,1,8,1,5
1,-0.362689,0.000000,0.000000,1.220673e+00,4.145666e-01,-1.791081e+00,4.777142,-3.495776e-01,-0.172336,0.010760,-0.336242,-1.138334e-01,23041,14688,1,1,1,3
2,2.783370,-0.253520,0.880194,8.834262e-01,-4.714858e-01,-3.929080e-01,1.375114,1.727409e+00,0.008951,-0.001280,-0.336242,-1.138334e-01,25441,30541,1,8,2,3
3,-0.359997,-0.268634,-0.589117,-8.012766e-01,-8.859297e-01,-4.730770e-16,-0.425960,-3.495776e-01,-0.102100,-0.044702,-0.336242,-1.138334e-01,38341,74173,0,3,2,3
4,-0.365405,0.000000,0.000000,1.784692e-01,-1.729109e+00,-4.730770e-16,0.774756,-3.495776e-01,-0.109746,-0.039893,-0.336242,-1.138334e-01,68058,41470,1,5,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100509,0.000000,0.000000,0.000000,2.995759e-16,5.077243e-16,-4.730770e-16,0.000000,-5.764796e-17,0.000000,0.000000,0.000000,1.347320e-17,7,8,1,1,1,3
100510,0.000000,0.000000,0.000000,2.995759e-16,5.077243e-16,-4.730770e-16,0.000000,-5.764796e-17,0.000000,0.000000,0.000000,1.347320e-17,7,8,1,1,1,3
100511,0.000000,0.000000,0.000000,2.995759e-16,5.077243e-16,-4.730770e-16,0.000000,-5.764796e-17,0.000000,0.000000,0.000000,1.347320e-17,7,8,1,1,1,3
100512,0.000000,0.000000,0.000000,2.995759e-16,5.077243e-16,-4.730770e-16,0.000000,-5.764796e-17,0.000000,0.000000,0.000000,1.347320e-17,7,8,1,1,1,3
100513,0.000000,0.000000,0.000000,2.995759e-16,5.077243e-16,-4.730770e-16,0.000000,-5.764796e-17,0.000000,0.000000,0.000000,1.347320e-17,7,8,1,1,1,3

In [32]:
from sklearn.model_selection import train_test_split

In [33]:
xtrain,xtest,ytrain,ytest=train_test_split(Xnew,Y,random_state=21,test_size=0.2)

In [34]:
from sklearn.linear_model import LogisticRegression

In [35]:
lr=LogisticRegression()

In [36]:
model=lr.fit(xtrain,ytrain)

E:\Data Analyst\Jupyter-2\Lib\site-packages\sklearn\utils\validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [37]:
tr_pred=model.predict(xtrain)
ts_pred=model.predict(xtest)

In [38]:
from sklearn.metrics import accuracy_score,confusion_matrix

In [39]:
tr_score=accuracy_score(ytrain,tr_pred)
ts_score=accuracy_score(ytest,ts_pred)
print(tr_score)
print(ts_score)

0.8195023068983099
0.8210714818683779

In [40]:
met=confusion_matrix(ytrain,tr_pred)

In [41]:
model.predict_proba(xtrain)

array([[0.74722382, 0.25277618],
       [0.9309091 , 0.0690909 ],
       [0.80220838, 0.19779162],
       ...,
       [0.79390104, 0.20609896],
       [0.7164527 , 0.2835473 ],
       [0.67034019, 0.32965981]])

In [42]:
from sklearn.tree import DecisionTreeClassifier

In [43]:
dtc=DecisionTreeClassifier(random_state=86,criterion='entropy')

In [44]:
model2=dtc.fit(xtrain,ytrain)

In [45]:
tr_pred=model2.predict(xtrain)
ts_pred=model2.predict(xtest)

In [46]:
tr_score2=accuracy_score(tr_pred,ytrain)
ts_score2=accuracy_score(ts_pred,ytest)

In [47]:
print(tr_score2)
print(ts_score2)

1.0
0.7565040043774561

In [48]:
from sklearn.ensemble import RandomForestClassifier

In [49]:
model3=RandomForestClassifier(n_estimators=10,random_state=21,criterion='entropy')

In [50]:
model3.fit(xtrain,ytrain)

E:\Data Analyst\Jupyter-2\Lib\site-packages\sklearn\base.py:1151: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

RandomForestClassifier(criterion='entropy', n_estimators=10, random_state=21)

In [52]:
ts_pred=model.predict(xtest)
tr_pred=model.predict(xtrain)

In [53]:
tr_score3=accuracy_score(tr_pred,ytrain)
ts_score3=accuracy_score(ts_pred,ytest)

In [54]:
print(tr_score3)
print(ts_score3)

0.8195023068983099
0.8210714818683779

In [55]:
from sklearn.neighbors import KNeighborsClassifier

In [56]:
knc=KNeighborsClassifier(n_neighbors=5)

In [57]:
model4=knc.fit(xtrain,ytrain)

E:\Data Analyst\Jupyter-2\Lib\site-packages\sklearn\neighbors\_classification.py:228: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

In [58]:
tr_score4=accuracy_score(tr_pred,ytrain)
ts_score4=accuracy_score(ts_pred,ytest)

In [59]:
print(tr_score4)
print(ts_score4)

0.8195023068983099
0.8210714818683779